.header {
    min-width: 320px;
    // background-color: #F0F0F0;
}
.dark_mode header {
    background-color: black;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(255, 255, 255, 0.94);
    -moz-box-shadow: 0px 0px 10px -1px rgba(255, 255, 255, 0.94);
    box-shadow: 0px 0px 10px -1px rgba(255, 255, 255, 0.94);
}

.header .container {
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.header-wrap { 
    position: relative;
    display: flex;
    flex-direction: column;
    height: 460px;
    padding: 14px 14px 20px 14px;
    border-radius: 15px;

background-image: 
    url("../images/header/img_280.jpg");

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: 
        url('../images/header/img_560.jpg');
    }

background-repeat: no-repeat;
background-position: center;
background-size: cover;

@media screen and (min-width: 768px) {
    height: 222px;
    padding: 16px;
 
background-image: 
    url("../images/header/img_704.jpg");

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: 
        url('../images/header/img_1408.jpg');
    }
}

@media screen and (min-width: 1200px) {
    height: 316px;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 32px;
 
background-image: 
    url("../images/header/img_1216.jpg");

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: 
        url('../images/header/img_2432.jpg');
    }
}
}

.dark_mode .header-wrap {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(255, 255, 255, 0.94);
        -moz-box-shadow: 0px 0px 10px -1px rgba(255, 255, 255, 0.94);
        box-shadow: 0px 0px 10px -1px rgba(255, 255, 255, 0.94);
} 

.nav-wrap {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 4px;
    }

    @media screen and (min-width: 1200px) {
        gap: 8px;
    }
}

.home-nav, .library-nav {
    display: flex;
    gap: 4px;

    @media screen and (min-width: 1200px) {
        gap: 8px;
    }
}

.library-nav {
    justify-content: center;
    margin-top: 16px;

    @media screen and (min-width: 768px) {
        position: absolute;
        top: 0;
        right: 16px;
    }

    @media screen and (min-width: 1200px) {
        right: 32px;
    }
}

.nav-btn {
    display: inline-flex;
    align-items: center;
    height: 34px;
    padding: 10px 26px;
    border-radius: 100px;
    background-color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;

    // transition: color $duration $cubic, background-color $duration $cubic;

    @media screen and (min-width: 768px) {
        padding: 12px 24px;
        height: 38px;
    }

    @media screen and (min-width: 1200px) {
        padding: 14px 32px;
        height: 42px;
    }
}

.active {
    background-color: $main-text;
    color: #fff; 
}

.home-nav .nav-btn:hover,
.home-nav .nav-btn:focus,
.home-nav .nav-btn:active {
    background-color: $main-text;
    color: #fff;
}

.library-nav .nav-btn {
    color: $accent-text;
}

.library-nav .nav-btn:hover,
.library-nav .nav-btn:focus,
.library-nav .nav-btn:active {
    background-color: $accent-text;
    color: #fff;
}

.search-form {
    margin: 0;
    position: relative;
    margin-top: 8px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.form-input {
    width: 100%;
    height: 34px;
    padding: 10px 14px;
    border-radius: 100px;

    color: $main-text;
    background-color: #fff;

    font-size: 12px;
    line-height: 1.17;

    @media screen and (min-width: 768px) {
        margin-bottom: 105px;
        width: 165px;
        height: 38px;
        padding: 11px 16px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 151px;
        width: 187px;
        height: 42px;
        padding: 13px 16px;
    }
}

.icon-search {
    position: absolute;
    top: 10px;
    right: 14px;
    fill: $main-text;

    @media screen and (min-width: 768px) {
        width: 16px;
        height: 16px;
        top: 11px;
        right: 16px;
    }

    @media screen and (min-width: 1200px) {
        top: 13px;
        right: 16px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }
}

.logo-img {
    display: inline-block;
    width: 32px;
    height: 32px;

    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: 1200px) {
        width: 59px;
        height: 59px;
    }
        -webkit-animation-name: tada;
        animation-name: tada;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        }
    
        @-webkit-keyframes tada {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
    
            10%,
            20% {
                -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            }
    
            30%,
            50%,
            70%,
            90% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            }
    
            40%,
            60%,
            80% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            }
    
            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
    
        @keyframes tada {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
    
            10%,
            20% {
                -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            }
    
            30%,
            50%,
            70%,
            90% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            }
    
            40%,
            60%,
            80% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            }
    
            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
}

.logo-name {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    font-size: 32px;
    line-height: 1.19;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
        font-size: 40px;
        line-height: 1.18;
    }

    @media screen and (min-width: 1200px) {
        font-size: 64px;
        line-height: 1.17;
    }
}

.notification {
    position: absolute;
    width: 155px;
    left: 10px;
    top: 45px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #FFFFFF;
    @media screen and (min-width: 768px) {
        left: 10px;
        top: 50px;
        }
    @media screen and (min-width: 1200px) {
        left: 15px;
        top: 50px;
        }
}

.change_theme {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 40px;
        }
}

.change_theme--btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 30px; 
    border-radius:50%;   
    @media screen and (min-width: 768px) {
            width: 40px;
        }
}
