<section class="section">
    <div class="container">
      <h2 class="visually-hidden">Gallery</h2>
      <ul class="gallery">
        <li class="gallery__item">
          <div class="card">
            <div class="card__wrapper "></div>
            <p class="card__title"></p>
            <p class="card__text"></p>
          </div>
        </li>
        <li class="gallery__item">
          <div class="card">
            <div class="card__wrapper "></div>
            <p class="card__title"></p>
            <p class="card__text"></p>
          </div>
        </li>
        <li class="gallery__item">
          <div class="card">
            <div class="card__wrapper "></div>
            <p class="card__title"></p>
            <p class="card__text"></p>
          </div>
        </li>
        <li class="gallery__item">
          <div class="card">
            <div class="card__wrapper "></div>
            <p class="card__title"></p>
            <p class="card__text"></p>
          </div>
        </li>
        <li class="gallery__item">
          <div class="card">
            <div class="card__wrapper "></div>
            <p class="card__title"></p>
            <p class="card__text"></p>
          </div>
        </li>
        <li class="gallery__item">
          <div class="card">
            <div class="card__wrapper"></div>
            <p class="card__title"></p>
            <p class="card__text"></p>
          </div>
        </li>
      </ul>
    </div>
  </section>