<header class="header">
    <div class="container">
        <form class="search-form">
            <input
            type="text" 
            name="searchQuery" 
            autocomplete="off"
            placeholder="Movie search"
            />
            <button type="button">#</button>
        </form>

        <nav class="nav">
            <ul class="home-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">MY LIBRARY</a>
                </li>
            </ul>
            <ul class="library-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">WATCHED</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">QUEUE</a>
                </li>
            </ul>
        </nav>
        <div class="logo">
            <!-- <svg class="logo-icon">
                <use href=""></use>
            </svg> -->
            <span class="logo-name">Filmoteka</span>
        </div>
    </div>
</header>