<div class="modal">
    <img src="" alt="" width="375">
    <h2 class="title">name</h2>
    <ul class="info">
        <li class="info-item">Vote/Votes</li>
        <li class="info-item">Popularity</li>
        <li class="info-item">Original Title</li>
        <li class="info-item">Genre</li>
    </ul>
    <div class="about">
        <h3>ABOUT</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur est dolores impedit itaque nesciunt, incidunt qui, voluptas animi illum non iusto asperiores doloribus. Asperiores voluptatibus labore enim? In ducimus fuga quia iusto voluptatem, totam maiores minus at quibusdam? Sit voluptatibus in saepe quibusdam! Corporis aliquid magnam voluptates, voluptatibus maxime itaque.</p>
    </div>
    <ul class="buttons">
        <li>
            <buttom class="btn-modal" type="submit" data-action="add-to-watch">ADD TO WATCHED</buttom>
        </li>
        <li>
            <buttom class="btn-modal" type="submit" data-action="add-to-queue">ADD TO QUEUE</buttom>
        </li>
    </ul>

    <!-- <button class="btn-close" type="button">
        <svg>
            <use>#</use>
        </svg>
    </button> -->
</div>