<div id="register-modal" class="modal-registr">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Регистрация</h2>
    <form id="register-form">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username">
      <label for="email">Электронная почта:</label>
      <input type="email" id="email" name="email">
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password">
      <button type="submit">Зарегистрироваться</button>
    </form>
  </div>
</div>