.modal-container {
  background-color: #fff;

  border-radius: 5px;
  padding: 48px 20px 40px;

  scroll-behavior: smooth;
  overflow-y: scroll;

  @media screen and (max-width: 767px) {
    width: 85dvw;
    height: 95dvh;
  }
  @media screen and (min-width: $tablet) {
    width: 704px;
  }

  @media screen and (min-width: $desktop) {
    width: 806px;
  }
}
.team-wrapper {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.team-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team-image {
  display: block;
  width: 100%;
  height: 178px;
  object-fit: contain;
  transition: all 0.4s;
}
.team-image:hover {
  transform: scale(1.1);
}
.team-info {
  display: grid;
  grid-template-columns: 1fr;
  padding: 18px;
  text-align: center;
  font-size: 10px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 16px;
    line-height: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 18px;
  }
}
.team-role {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    line-height: 16px;
  }
  @media screen and (min-width: 71280px) {
    font-size: 16px;
    line-height: 16px;
  }
}
.logo-icon {
  width: 16px;
  height: 16px;
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
